<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://turbotopo.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>turbotopo.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>turbotopo</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>brinkmanbeglazing</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TopoContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:j9k7btbbo4.database.windows.net,1433;Initial Catalog=turbotopo;User ID=paazonline_nl_cwz@j9k7btbbo4;Password=Tsi1234%" Name="Data Source=tcp:j9k7btbbo4.database.windows.net,1433;Initial Catalog=turbotopo;User Id=paazonline_nl_cwz@j9k7btbbo4;Password=Tsi1234%" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Topo.Models.ApplicationDbContext, Topo" MigrationConfiguration="Topo.Migrations.Configuration, Topo" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TopoContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:j9k7btbbo4.database.windows.net,1433;Initial Catalog=turbotopo;User Id=paazonline_nl_cwz@j9k7btbbo4;Password=Tsi1234%</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>