@model Topo.ViewModel.Game
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Turbo Topo</h1>
    <p class="lead">De turbo topo site kan je helpen met het leren van je topo</p>
    <form class="form-inline" role="form" method="post">
        <div class="form-group">
            @if (Model.CurrentPlayerName != null && Model.CurrentPlayerName.Any())
            {
                <audio autoplay="autoplay" lang="nl-be" src="/TTS/index?tl=nl-be&q=Hoi @Model.CurrentPlayerName,"></audio>
            }
            @if (Model.Players != null && Model.Players.Any())
            {
                <p class="">Klik op je naam of voeg een nieuwe naam toe</p>
                <div class="btn-group">
                    @foreach (KeyValuePair<string, Topo.ViewModel.Player> Player in Model.Players.Where(i => i.Key.Length > 2))
                    {
                        <button type="submit" name="player" class="btn btn-primary" value="@Player.Key">@Player.Key</button>
                    }
                </div>
                <div class="row"><p></p></div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="input-group form-group">
                            <input type="text" class="form-control" name="newplayer" placeholder="nieuwe naam">
                        </div>
                    </div>
                    <button type="submit" name="StartNewPlayer" value="StartNewPlayer" class="btn btn-primary">Voeg toe</button>
                </div>
            }
            else
            {
                <div class="input-group">
                    <input type="text" class="form-control" name="newplayer" placeholder="Wat is je naam?">
                </div>
                <button type="submit" name="StartNewPlayer" value="StartNewPlayer" class="btn btn-primary">Start</button>
            }
        </div>
    </form>
</div>

